body {
    background-color: rgb(235, 45, 70);
    text-align: center;
}

footer {
    text-align: center;
    font-size: 25px;
    color:aliceblue;
}

.heading {
   text-align: center;
   color:bisque;
}

.button {
    font-size: 75px;
    color: blueviolet;
    margin: auto;
    border-radius: 33%;
    background-color: black;
    margin: auto;
    padding: 25px;

}

.scores {
    padding: 40px;
}

.game-area {
    display: inline-block;
    padding: 20px;
}

.result-area {
    font-size: 25px;
    color: bisque;
}

#result {
    font-size: 40px;
    color:bisque;
    padding-bottom: 25px;
}

#player-score {
    text-align: center;
    color: bisque;
    font-size: 40px;
    left: -20px;
    padding-top: 50px;
}

#computer-score {
    text-align: center;
    color: bisque;
    font-size: 40px;
    right: -20px;
    padding-top: 5px;
}